html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #F4F5F7;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 16px;
}
section {
  width: 100%;
  height: 100%;
}
img {
  vertical-align: bottom;
}
.width-limited {
  width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}
/*-------- 菜单栏 --------*/
header {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  backdrop-filter: saturate(50%) blur(8px);
  background: #F4F5F7B2;
  display: block;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}
.logo-container {
  width: 48px;
  height: 32px;
}
.logo-container .logo {
  width: 100%;
  height: 100%;
}
.menu-text-container {
  display: flex;
  align-items: center;
}
.menu-text-container li {
  list-style: none;
  height: auto;
  width: auto;
  margin-left: 24px;
  position: relative;
}
.menu-text-container li :hover {
  color: #4186E7;
}
.menu-text-container li a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #1F2833;
  line-height: 64px;
  padding: 4px 6px;
  text-decoration: none;
  transition: color 200ms ease;
}
.menu-text-container li span {
  line-height: 32px;
}
.menu-text-container li .menu-item-hover-icon {
  width: 20px;
  height: 4px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
}
.menu-text-container li .active {
  color: #4186E7;
}
.theme-change-button {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
}
/*-------- 首屏模块 --------*/
.noodle {
  width: 100%;
  height: 100%;
}
.noodle-point {
  color: transparent;
  background: linear-gradient(90deg, #67A2EB 0%, #4186E7 100%);
  -webkit-background-clip: text;
  font-size: 88px;
  display: inline-block;
  height: 80px;
}
.noodle-container {
  position: relative;
  height: 900px;
}
.noodle-container .noodle-img {
  position: absolute;
  top: 0;
  left: 64px;
  width: 1320px;
  height: auto;
  z-index: -1;
}
.noodle-container .noodle-content-container {
  padding-top: 291px;
}
.noodle-container .noodle-content-container .noodle-content-title {
  font-size: 72px;
  line-height: 86px;
  font-family: 'Smiley Sans';
  color: #1F2833;
  margin-bottom: 12px;
  letter-spacing: 0.02em;
}
.noodle-container .noodle-content-container .noodle-content-desc {
  font-size: 16px;
  line-height: 24px;
  color: #5B646F;
  margin-bottom: 32px;
}
.noodle-container .noodle-content-container a.noodle-email {
  font-size: 16px;
  line-height: 22px;
  padding: 9px 12px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #67A2EB 0%, #4186E7 100%);
  border-style: none;
  border-radius: 8px;
  text-decoration: none;
}
/*-------- 项目模块 --------*/
.home-projects {
  padding: 56px 0 96px 0;
}
.home-projects-title-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "AlimamaShuHeiTi";
  padding-bottom: 32px;
}
.home-projects-title-container .home-projects-title {
  font-size: 24px;
  color: #1F2833;
  display: inline-block;
}
.home-projects-title-container .home-projects-more {
  font-size: 16px;
  color: #868B97;
  display: inline-block;
}
.home-item-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}
.home-item-container .home-item-holder:nth-child(3n-1) {
  margin-top: 64px;
}
.home-item-container .home-item-holder {
  border-radius: 3px;
  overflow: hidden;
  flex: auto;
  height: 512px;
  position: relative;
}
.home-item-container .home-item-holder .home-item-img {
  height: 100%;
}
.home-item-container .home-item-holder .home-item-img-shadow {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
}
.home-item-container .home-item-holder .home-item-date-container {
  position: absolute;
  top: 24px;
  left: 24px;
  color: #FFFFFF;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: medium;
  border-radius: 64px;
  line-height: 14px;
  font-family: 'ITCAvantGardeStd';
  padding: 6px 16px 4px;
  background-color: #0A0B17CC;
}
.home-item-container .home-item-holder .home-item-content-container {
  position: absolute;
  bottom: 48px;
  left: 24px;
  width: 336px;
}
.home-item-container .home-item-holder .home-item-content-container .home-item-content-title {
  font-size: 20px;
  color: #FFFFFFF2;
  font-weight: 500;
  line-height: 32px;
  width: 100%;
  margin-bottom: 32px;
}
.home-item-container .home-item-holder .home-item-content-container .home-item-content-more {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'ITCAvantGardeStd';
  color: #4186E7;
}
/*-------- 设计展览馆 --------*/
.home-gallery-title-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "AlimamaShuHeiTi";
  padding-bottom: 32px;
}
.home-gallery-title-container .home-gallery-title {
  font-size: 24px;
  color: #1F2833;
  display: inline-block;
}
.home-gallery-title-container .home-gallery-more {
  font-size: 16px;
  color: #868B97;
  display: inline-block;
}
.gallery-container {
  column-count: 4;
  column-gap: 24px;
}
.gallery-container p {
  display: none;
}
.gallery-holder {
  break-inside: avoid-column;
  list-style: none;
  padding-bottom: 32px;
}
.gallery-holder .gallery-img {
  border-radius: 3px;
  width: 282px;
  height: auto;
}
.gallery-holder .gallery-content-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 16px;
}
.gallery-holder .gallery-content-container .gallery-content-date {
  font-size: 20px;
  font-family: 'ITCAvantGardeStd';
  line-height: 24px;
}
.gallery-holder .gallery-content-container .gallery-content-desc-container {
  font-size: 14px;
  line-height: 17px;
  text-align: right;
}
/*-------- 页尾 --------*/
.footer-container {
  padding: 120px 32px 16px 32px;
  font-family: 'ITCAvantGardeStd';
}
.footer-container .footer-content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 51px 0 48px 0;
}
.footer-container .footer-content-container .footer-social-container {
  display: flex;
}
.footer-container .footer-content-container .footer-social-container .footer-social-item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-container .footer-content-container .footer-social-container .footer-social-item a {
  margin-right: 32px;
  text-align: center;
}
.footer-container .footer-content-container .footer-social-container .footer-social-item span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #5B646F;
  display: inline-block;
  padding-right: 6px;
}
.footer-container .footer-content-container .footer-social-container .footer-social-item .leftright-arrow {
  display: inline-block;
  width: 16px;
  height: 20px;
}
.footer-container .copyright {
  text-align: center;
  font-family: 'ITCAvantGardeStd';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #868B97;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.wechat-popover-container {
  position: relative;
}
.wechat-popover {
  padding: 12px;
  border-radius: 12px;
  background-color: #FCFCFC;
  position: absolute;
  top: -200px;
  left: -56px;
  display: none;
}
.footer-social-item:hover .wechat-popover {
  display: block;
}
.wechat-qrcode {
  width: 160px;
  height: 160px;
}
.footer-totop-container {
  height: 40px;
  width: 40px;
  background-color: #ECEDF1;
  border-radius: 4px;
}
.footer-totop-container .footer-totop {
  padding: 8px;
  display: block;
  width: 24px;
  height: 24px;
}
/*-------- 项目页 --------*/
.projects-title {
  margin-top: 72px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  width: 100%;
  padding: 120px 0 120px 0;
  text-align: center;
  color: #1F2833;
}
.item-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}
.item-container .item-holder {
  border-radius: 3px;
  overflow: hidden;
  width: 588px;
  height: 397px;
  position: relative;
}
.item-container .item-holder .item-img {
  width: 100%;
}
.item-container .item-holder .item-img-shadow {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
}
.item-container .item-holder .item-date-container {
  position: absolute;
  top: 24px;
  left: 24px;
  color: #FFFFFF;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: medium;
  border-radius: 64px;
  line-height: 14px;
  font-family: 'ITCAvantGardeStd';
  padding: 6px 16px 4px;
  background-color: #0A0B17CC;
}
.item-container .item-holder .item-content-container {
  position: absolute;
  bottom: 36px;
  left: 24px;
  width: 540px;
}
.item-container .item-holder .item-content-container .item-content-title {
  font-size: 20px;
  color: #FFFFFFF2;
  font-weight: 500;
  line-height: 32px;
  width: 100%;
  margin-bottom: 24px;
}
.item-container .item-holder .item-content-container .item-content-more {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'ITCAvantGardeStd';
  color: #4186E7;
}
/*-------- 关于我 --------*/
.personal-container {
  margin-top: 180px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.personal-container .personal-img {
  width: 510px;
  height: 550px;
  border-radius: 6px;
  border: 1px solid rgba(19, 43, 69, 0.02);
}
.personal-container .personal-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.personal-container .personal-content-container .personal-research-container {
  height: 100%;
  position: relative;
}
.personal-container .personal-content-container .personal-research-container .personal-englishname {
  color: #868B97;
  font-size: 16px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.personal-container .personal-content-container .personal-name-container {
  padding: 8px 0 12px 0;
}
.personal-container .personal-content-container .personal-name-container img {
  padding-right: 12px;
}
.personal-container .personal-content-container .personal-research-content-container {
  display: block;
}
.personal-container .personal-content-container .personal-introduction-title,
.personal-container .personal-content-container .personal-research-title {
  font-size: 20px;
  font-family: "AlimamaShuHeiTi";
  line-height: 28px;
  padding-bottom: 12px;
  color: #1F2833;
}
.personal-container .personal-content-container .personal-introduction-content {
  line-height: 24px;
  color: #5B646F;
}
.personal-container .personal-content-container .personal-research-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #FCFCFC;
  border-radius: 3px;
  margin-bottom: 8px;
}
.personal-container .personal-content-container .personal-research-item .perosonal-research-item-main img {
  padding-right: 12px;
}
.personal-container .personal-content-container .personal-research-item .perosonal-research-item-main span {
  font-size: 16px;
  line-height: 22px;
  color: #5B646F;
  font-weight: 400;
}
.personal-more {
  display: block;
  margin: 100px auto 0 auto;
  color: #DEE0E2;
}
.personal-habbit-container {
  width: 100%;
  margin-top: 96px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.personal-habbit-content-img {
  border-radius: 3px;
  width: 792px;
  height: auto;
}
.personal-habbit-title-container {
  padding-bottom: 16px;
}
.personal-habbit-title-container .personal-habbit-title {
  font-family: "AlimamaShuHeiTi";
  color: #1F2833;
  font-size: 32px;
  line-height: 45px;
  padding-bottom: 8px;
}
.personal-habbit-title-container .perosonal-habbit-title-desc {
  font-size: 16px;
  line-height: 24px;
  color: #5B646F;
}
.personal-habbit-content-outer {
  width: auto;
}
.personal-habbit-content-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 8px;
  border-radius: 3px;
  background-color: #FCFCFC;
}
.personal-habbit-content-container .person-habbit-content-main {
  color: #4186E7;
  display: flex;
  align-items: center;
}
.personal-habbit-content-container .person-habbit-content-desc {
  display: none;
  padding-left: 32px;
}
.personal-habbit-content-container .personal-habbit-item-icon {
  padding-right: 12px;
  stroke: #4186E7;
}
.personal-habbit-content-container .personal-habbit-item-title {
  font-size: 16px;
  line-height: 22px;
  color: #5B646F;
  font-weight: 400;
}
.personal-habbit-content-container .person-habbit-content-desc {
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFFD9;
  font-weight: 400;
}
.personal-habbit-content-container.active {
  background-color: #868B97;
}
.personal-habbit-content-container.active .personal-habbit-item-title {
  color: #FCFCFC;
}
.personal-habbit-content-container.active .person-habbit-content-desc {
  display: block;
}
.personal-habbit-content-container.active .person-habbit-content-main {
  padding-bottom: 8px;
}
