:root{
    --Text-Light-1: #1F2833;
    --Text-Light-2: #5B646F;
    --Text-Light-3: #868B97;
    --Primary-Blue-5: #4186E7;
}

html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #F4F5F7;
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 16px;
}

section{
    width: 100%;
    height: 100%;
}

img {
    vertical-align: bottom;
}

.width-limited{
    width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

/*-------- 菜单栏 --------*/
header{
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    backdrop-filter: saturate(50%) blur(8px);
    background: #F4F5F7B2;
    display: block;
}

.hide{
    top: -64px;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
}

.logo-container{
    width: 48px;
    height: 32px;
    .logo{
        width: 100%;
        height: 100%;
    }
}

.menu-text-container{
    display: flex;
    align-items: center;
    li{
        list-style: none;
        height: auto;
        width: auto;
        margin-left: 24px;
        position: relative;
        :hover{
            color: var(--Primary-Blue-5);
        }
        a{  
            display: block;
            font-size: 14px;
            font-weight: 500;
            color: var(--Text-Light-1);
            line-height: 64px;
            padding: 0 6px;
            text-decoration: none;
            transition: color 200ms ease;
        }
        span{
            line-height: 32px;
        }
        .active{
            color: var(--Primary-Blue-5);
        }
    }
}

.theme-change-button{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
}


/*-------- 首屏模块 --------*/
.noodle{
    width: 100%;
    height: 100%;
}

.noodle-point{
    color:transparent;
    background:linear-gradient(90deg, #67A2EB 0%, var(--Primary-Blue-5) 100%);
    -webkit-background-clip: text;
    font-size: 88px;
    display: inline-block;
    height: 80px;
}

.noodle-container{
    position: relative;
    height: 900px;
    .noodle-img{
        position: absolute;
        top: 0;
        left: 64px;
        width: 1320px;
        height: auto;
        z-index: -1;
    }
    .noodle-content-container{
        padding-top: 291px;
        .noodle-content-title{
            font-size: 72px;
            line-height: 86px;
            font-family: 'Smiley Sans';
            color: var(--Text-Light-1);
            margin-bottom: 12px;
            letter-spacing: 0.02em;
        }
        .noodle-content-desc{
            font-size: 16px;
            line-height: 24px;
            color: var(--Text-Light-2);
            margin-bottom: 32px;
        }
        a.noodle-email{
            font-size: 16px;
            // font-family: "HYYakuHei";
            // font-weight: 700;
            line-height: 22px;
            padding: 9px 12px;
            color: #FFFFFF;
            background: linear-gradient(90deg, #67A2EB 0%, var(--Primary-Blue-5) 100%);
            border-style: none;
            border-radius: 8px;
            text-decoration: none;
        }
    }
}

/*-------- 项目模块 --------*/
.home-projects{
    padding: 56px 0 96px 0;
}

.home-projects-title-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between; 
    padding-bottom: 28px;
    .home-projects-title{
        font-family: "HYYakuHei";
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: var(--Text-Light-1);
        display: inline-block;
    }
    .home-projects-more{
        font-size: 16px;
        font-weight: 500;
        color: var(--Text-Light-3);
        display: inline-block;
    }
}

.home-item-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    .home-item-holder:nth-child(3n-1){
        margin-top: 64px;
    }
    .home-item-holder{
        border-radius: 3px;
        overflow:hidden;
        flex: auto;
        height: 512px;
        position: relative;
        .home-item-img{
            height: 100%;
        }
        .home-item-img-shadow{
            position: absolute;
            bottom: 0;
            height: 50%;
            width: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
        }
        .home-item-date-container{
            position: absolute;
            top: 24px;
            left: 24px;
            color: #FFFFFF;
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: medium;
            border-radius: 64px;
            line-height: 14px;
            font-family: 'ITCAvantGardeStd';
            padding: 6px 16px 4px;
            background-color: #0A0B17CC;
        }
        .home-item-content-container{
            position: absolute;
            bottom: 48px;
            left: 24px;
            width: 336px;
            .home-item-content-title{
                font-size: 20px;
                color: #FFFFFFF2;
                // font-family: "AlimamaShuHeiTi";
                font-weight: 500;
                line-height: 32px;
                width: 100%;
                margin-bottom: 32px;
            }
            .home-item-content-more{
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 2px;
                font-family: 'ITCAvantGardeStd';
                color: var(--Primary-Blue-5);
            }
        }
    }
}

/*-------- 设计展览馆 --------*/
.home-gallery-title-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between; 
    padding-bottom: 28px;
    .home-gallery-title{
        font-family: "HYYakuHei";
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: var(--Text-Light-1);
        display: inline-block;
    }
    .home-gallery-more{
        font-size: 16px;
        font-weight: 500;
        color: var(--Text-Light-3);
        display: inline-block;
    }
}

.gallery-container{
    // height: 923px;
    column-count: 4;
    column-gap: 24px;
    p{
        display: none;
    }
}

.home-gallery .gallery-holder{
    break-inside: avoid-column;
    list-style: none;
    padding-bottom: 32px;
}

.gallery-img{
    border-radius: 3px;
    width: 100%;
    height: auto;
}
.gallery-content-container{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 16px;
    .gallery-content-date{
        font-size: 20px;
        font-family: 'ITCAvantGardeStd';
        line-height: 24px;
    }
    .gallery-content-desc-container{
        font-size: 14px;
        line-height: 17px;
        text-align: right;
    }
}

.gallery-header{
    margin-top: 160px;
    .logo-container{
        display: none;
    }
    .gallery-header-main-container{
        .gallery-header-title-container{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 12px;
            .gallery-header-title{
                color: var(--Text-Light-1);
                font-size: 32px;
                line-height: 32px;
                font-family: "HYYakuHei";
                font-weight: 700;
            }
            .gallery-header-desc{
                color: var(--Text-Light-2);
            }
        }
    }
    .gallery-header-sort-outter{
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        .gallery-header-sort-container{
            display: flex;
            align-items: center;
            border-radius: 3px;
            padding: 6px 12px;
            border: 1px solid rgba(31, 40, 51, 0.16);
            .gallery-header-sort-icon{
                padding-right: 6px;
            }
            .gallery-header-sort-item{
                font-size: 16px;
                color: var(--Text-Light-2);
            }
        }
    }
}


.gallery .gallery-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 650px;
    overflow-x: scroll;
    .gallery-holder{
        width: 256px;
        padding-bottom: 32px;
    }
}

/*-------- 页尾 --------*/

.footer-container{
    padding: 120px 32px 16px 32px;
    font-family: 'ITCAvantGardeStd';
    .footer-content-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 51px 0 48px 0;
        .footer-social-container{
            display: flex;
            .footer-social-item{
                list-style: none;
                margin: 0;
                padding: 0;
                a{
                    margin-right: 32px;
                    text-align:center;
                }
                span{
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    color: var(--Text-Light-2);
                    display: inline-block;
                    padding-right: 6px;
                }
                .leftright-arrow{
                    display: inline-block;
                    width: 16px;
                    height: 20px;
                }
            }
        }
    }
    .copyright{
        text-align: center;
        font-family: 'ITCAvantGardeStd';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--Text-Light-3);
    }
}

ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.wechat-popover-container{
    position: relative;
}

.wechat-popover{
    padding: 12px;
    border-radius: 12px;
    background-color: #FCFCFC;
    position: absolute;
    top: -200px;
    left: -56px;
    display: none;
}

.footer-social-item:hover .wechat-popover{
    display: block;
}

.wechat-qrcode{
    width: 160px;
    height: 160px;
}

.footer-totop-container{
    height: 40px;
    width: 40px;
    background-color: #ECEDF1;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    z-index: 99999;
    .footer-totop{
        width: 24px;
        height: 24px;
    }
}

/*-------- 项目页 --------*/

.projects-title{
    margin-top: 72px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    width: 100%;
    padding: 120px 0 120px 0;
    text-align: center;
    color: var(--Text-Light-1);
}
.item-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 48px;
    .item-holder{
        border-radius: 3px;
        overflow:hidden;
        width: 588px;
        height: 397px;
        position: relative;
        .item-img{
            width: 100%;
        }
        .item-img-shadow{
            position: absolute;
            bottom: 0;
            height: 50%;
            width: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
        }
        .item-date-container{
            position: absolute;
            top: 24px;
            left: 24px;
            color: #FFFFFF;
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: medium;
            border-radius: 64px;
            line-height: 14px;
            font-family: 'ITCAvantGardeStd';
            padding: 6px 16px 4px;
            background-color: #0A0B17CC;
        }
        .item-content-container{
            position: absolute;
            bottom: 36px;
            left: 24px;
            width: 540px;
            .item-content-title{
                font-size: 20px;
                color: #FFFFFFF2;
                // font-family: "AlimamaShuHeiTi";
                font-weight: 500;
                line-height: 32px;
                width: 100%;
                margin-bottom: 24px;
            }
            .item-content-more{
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 2px;
                font-family: 'ITCAvantGardeStd';
                color: var(--Primary-Blue-5);
            }
        }
    }
}

/*-------- 关于我 --------*/

.personal-container{
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    .personal-img{
        width: 510px;
        height: 550px;
        border-radius: 6px;
        border: 1px solid rgba(19, 43, 69, 0.02);
    }
    .personal-content-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        .personal-research-container{
            height: 100%;
            position: relative;
            .personal-englishname{
                color: var(--Text-Light-3);
                font-size: 16px;
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .personal-name-container{
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            .personal-name{
                font-size: 32px;
                font-family: "HYYakuHei";
                font-weight: 700;
                color: var(--Text-Light-1);
                padding-right: 16px;
            }
            img{
                padding-right: 12px;
            }
        }
        .personal-research-content-container{
            display: block;
        }
        .personal-introduction-title,.personal-research-title{
            font-size: 20px;
            font-family: "HYYakuHei";
            font-weight: 600;
            line-height: 28px;
            padding-bottom: 12px;
            color: var(--Text-Light-1);
        }
        .personal-introduction-content{
            line-height: 24px;
            color: var(--Text-Light-2);
        }
        .personal-research-item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            background-color: #FCFCFC;
            border-radius: 3px;
            margin-bottom: 8px;
            .perosonal-research-item-main img{
                padding-right: 12px;
            }
            .perosonal-research-item-main span{
                font-size: 16px;
                line-height: 22px;
                color: var(--Text-Light-2);
                font-weight: 400;
            }
        }
    }
}

.personal-more{
    display: block;
    margin: 100px auto 0 auto;
    color: #DEE0E2;
}

.personal-habbit-container{
    width: 100%;
    margin-top: 96px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.personal-habbit-content-img{
    border-radius: 3px;
    width: 792px;
    height: auto;
}

.personal-habbit-title-container{
    padding-bottom: 16px;
    .personal-habbit-title{
        font-family: "HYYakuHei";
        font-weight: 700;
        color: var(--Text-Light-1);
        font-size: 32px;
        line-height: 45px;
        padding-bottom: 8px;
    }
    .perosonal-habbit-title-desc{
        font-size: 16px;
        line-height: 24px;
        color: var(--Text-Light-2);
    }
}

.personal-habbit-content-outer{
    width: auto;
}

.personal-habbit-content-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 8px;
    border-radius: 3px;
    background-color: #FCFCFC;
    .person-habbit-content-main{
        color: var(--Primary-Blue-5);
        display: flex;
        align-items: center;
    }
    .person-habbit-content-desc{
        display: none;
        padding-left:32px;
    }
    .personal-habbit-item-icon{
        padding-right: 12px;
        stroke: var(--Primary-Blue-5);
    }
    .personal-habbit-item-title{
        font-size: 16px;
        line-height: 22px;
        color: var(--Text-Light-2);
        font-weight: 400;
    }
    .person-habbit-content-desc{
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFFD9;
        font-weight: 400;
    }
}

.personal-habbit-content-container.active{
    background-color: var(--Text-Light-3);
    .personal-habbit-item-title{
        color: #FCFCFC;
    }
    .person-habbit-content-desc{
        display: block;
    }
    .person-habbit-content-main{
        padding-bottom: 8px;
    }
}

/*-------- 文章内页 --------*/

.item-content-background{
    position: absolute;
    top: 0;
    box-sizing: border-box;
    .item-backgroundImg{
        height: 440px;
        width: 100%;
        object-fit: cover;
    }
    .item-backgroundImg-cover{
        position:absolute;
        top: 0;
        height: 440px;
        width: 100%;
        background: linear-gradient(180deg, rgba(13, 18, 21, 0) 0%, #0D1215 100%);
    }
}