html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #E7E7E9;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 16px;
}
section {
  width: 100%;
  height: 100%;
}
img {
  vertical-align: bottom;
}
.width-limited {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}
/*-------- 菜单栏 --------*/
header {
  width: 100%;
  height: 72px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 32px;
  height: 100%;
  margin: auto;
}
.logo-container {
  width: 107px;
  height: 48px;
}
.logo-container .logo {
  width: 100%;
  height: 100%;
}
.menu-text-container {
  display: flex;
  align-items: center;
}
.menu-text-container li {
  list-style: none;
  height: auto;
  width: auto;
  margin-right: 24px;
}
.menu-text-container li a {
  font-size: 16px;
  font-weight: 700;
  font-family: "AlimamaShuHeiTi";
  color: #1F2833;
  line-height: 24px;
  padding: 4px 6px;
  text-decoration: none;
  transition: color 200ms ease;
}
.menu-text-container li a:hover {
  border-bottom: 2px solid #1F2833;
}
.menu-text-container li .active {
  border-bottom: 2px solid #1F2833;
}
.theme-change-button {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
}
/*-------- 首屏模块 --------*/
.noodle {
  width: 100%;
  height: 100%;
}
.noodle-point {
  color: transparent;
  background: linear-gradient(90deg, #67A2EB 0%, #4186E7 100%);
  -webkit-background-clip: text;
  font-size: 88px;
  display: inline-block;
  height: 40px;
}
.noodle-container {
  position: relative;
  height: 900px;
}
.noodle-container .noodle-img {
  position: absolute;
  top: 0;
  left: 64px;
  max-width: 1320px;
  height: auto;
  z-index: -1;
}
.noodle-container .noodle-content-container {
  padding-top: 291px;
}
.noodle-container .noodle-content-container .noodle-content-title {
  font-size: 64px;
  line-height: 82px;
  font-family: 'AaHouDiHei';
  color: #1F2833;
  margin-bottom: 12px;
}
.noodle-container .noodle-content-container .noodle-content-desc {
  font-size: 16px;
  line-height: 24px;
  color: #5B646F;
  margin-bottom: 32px;
}
.noodle-container .noodle-content-container a.noodle-email {
  font-size: 14px;
  font-family: "AlimamaShuHeiTi";
  line-height: 22px;
  padding: 9px 16px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #67A2EB 0%, #4186E7 100%);
  border-style: none;
  border-radius: 8px;
  text-decoration: none;
}
/*-------- 项目模块 --------*/
.home-projects {
  padding: 56px 0 96px 0;
}
.home-projects-title-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "AlimamaShuHeiTi";
  padding-bottom: 32px;
}
.home-projects-title-container .home-projects-title {
  font-size: 24px;
  color: #1F2833;
  display: inline-block;
}
.home-projects-title-container .home-projects-more {
  font-size: 16px;
  color: #868B97;
  display: inline-block;
}
.item-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}
.item-container .item-holder:nth-child(3n-1) {
  margin-top: 64px;
}
.item-container .item-holder {
  border-radius: 3px;
  overflow: hidden;
  flex: auto;
  height: 512px;
  position: relative;
}
.item-container .item-holder .item-img {
  height: 100%;
}
.item-container .item-holder .item-date-container {
  position: absolute;
  top: 24px;
  left: 24px;
  color: #FFFFFF;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: medium;
  border-radius: 64px;
  line-height: 14px;
  font-family: 'ITC Avant Garde Gothic Std';
  padding: 6px 16px 4px;
  background-color: #0A0B17CC;
}
.item-container .item-holder .item-content-container {
  position: absolute;
  bottom: 48px;
  left: 24px;
  width: 336px;
}
.item-container .item-holder .item-content-container .item-content-title {
  font-size: 20px;
  color: #FFFFFFF2;
  font-family: "AlimamaShuHeiTi";
  line-height: 32px;
  width: 100%;
  margin-bottom: 32px;
}
.item-container .item-holder .item-content-container .item-content-more {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'ITC Avant Garde Gothic Std';
  color: #4186E7;
}
/*-------- 设计展览馆 --------*/
.home-gallery-title-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "AlimamaShuHeiTi";
  padding-bottom: 32px;
}
.home-gallery-title-container .home-gallery-title {
  font-size: 24px;
  color: #1F2833;
  display: inline-block;
}
.home-gallery-title-container .home-gallery-more {
  font-size: 16px;
  color: #868B97;
  display: inline-block;
}
.gallery-container {
  column-count: 4;
  column-gap: 24px;
}
.gallery-container p {
  display: none;
}
.gallery-holder {
  break-inside: avoid-column;
  list-style: none;
  padding-bottom: 32px;
}
.gallery-holder .gallery-img {
  border-radius: 3px;
  width: 282px;
  height: auto;
}
.gallery-holder .gallery-content-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 16px;
}
.gallery-holder .gallery-content-container .gallery-content-date {
  font-size: 20px;
  font-family: 'ITC Avant Garde Gothic Std';
  line-height: 24px;
}
.gallery-holder .gallery-content-container .gallery-content-desc-container {
  font-size: 14px;
  line-height: 17px;
  text-align: right;
}
/*-------- 页尾 --------*/
.footer-container {
  padding: 120px 0 16px 0;
  font-family: 'ITC Avant Garde Gothic Std';
}
.footer-container .footer-content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 51px 0 48px 0;
}
.footer-container .footer-content-container .footer-social-container {
  display: flex;
}
.footer-container .footer-content-container .footer-social-container .footer-social-item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-container .footer-content-container .footer-social-container .footer-social-item a {
  margin-right: 32px;
  text-align: center;
}
.footer-container .footer-content-container .footer-social-container .footer-social-item span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #5B646F;
  display: inline-block;
  padding-right: 6px;
}
.footer-container .footer-content-container .footer-social-container .footer-social-item .leftright-arrow {
  display: inline-block;
  width: 16px;
  height: 20px;
}
.footer-container .copyright {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #868B97;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.wechat-popover-container {
  position: relative;
}
.wechat-popover {
  padding: 12px;
  border-radius: 12px;
  background-color: #FCFCFC;
  position: absolute;
  top: -200px;
  left: -56px;
  display: none;
}
.footer-social-item:hover .wechat-popover {
  display: block;
}
.wechat-qrcode {
  width: 160px;
  height: 160px;
}
.footer-totop-container {
  height: 40px;
  width: 40px;
  background-color: #ECEDF1;
  border-radius: 4px;
}
.footer-totop-container .footer-totop {
  padding: 8px;
  display: block;
  width: 24px;
  height: 24px;
}
