{{ define "main" }}
<style>
    body{
        background-color: #F4F5F7;
    }
    header{
        background: #F4F5F7B2;
    }
</style>
<section class="about">
    <div class="about-container width-limited">
        <div class="personal-container">
            <img class="personal-img" src="/img/mypic.jpg" alt="我自己的照片">
            <div class="personal-content-container">
                <div class="personal-name-container">
                    <img src="/icon/name.svg" alt="名字" class="personal-name">
                    <img src="/icon/persontag.svg" alt="个人标签">
                </div>
                <div class="personal-introduction-container">
                    <div class="personal-introduction-title">个人介绍 🐰</div>
                    <div class="personal-introduction-content">一个不「老实」的设计师 /<br/>喜欢研究各种有趣的东西 /<br/>梦想是在宽窄巷子开家小酒馆 👦🏻🍶👧🏻 /</div>
                </div>
                <div class="personal-research-container">
                    <div class="personal-research-title">研究方向</div>
                    <div class="personal-research-content-container">
                        <div class="personal-research-item">
                            <div class="perosonal-research-item-main">
                                <img src="/icon/ui.svg" alt="ui">
                                <span>界面设计｜User Interface</span>
                            </div>
                            <div class="perosonal-research-skill-container">
                                <img class="perosonal-research-skill" src="/icon/redfire.svg">
                                <img class="perosonal-research-skill" src="/icon/redfire.svg">
                                <img class="perosonal-research-skill" src="/icon/redfire.svg">
                            </div>
                        </div>
                        <div class="personal-research-item">
                            <div class="perosonal-research-item-main">
                                <img src="/icon/ux.svg" alt="ui">
                                <span>用户研究｜User Experience</span>
                            </div>
                            <div class="perosonal-research-skill-container">
                                <img class="perosonal-research-skill" src="/icon/greenfire.svg">
                                <img class="perosonal-research-skill" src="/icon/greenfire.svg">
                            </div>
                        </div>
                        <div class="personal-research-item">
                            <div class="perosonal-research-item-main">
                                <img src="/icon/fe.svg" alt="ui">
                                <span>前端设计｜Front End</span>
                            </div>
                            <div class="perosonal-research-skill-container">
                                <img class="perosonal-research-skill" src="/icon/bluefire.svg">
                            </div>
                        </div>
                    </div>
                    <div class="personal-englishname">yikZero</div>
                </div>
            </div>
        </div>
        <img src="/icon/down.svg" alt="下面还有" class="personal-more">
        <div class="personal-habbit-container">
            <div class="personal-habbit-content-outer">
                <div class="personal-habbit-title-container">
                    <div class="personal-habbit-title">兴趣爱好</div>
                    <div class="perosonal-habbit-title-desc">游览五湖四海 · 吃遍四面八方 · 成为一个有趣的人</div>
                </div>
                <div class="personal-habbit-content-container active">
                    <div class="person-habbit-content-main">
                        <img src="/icon/bag.svg" class="personal-habbit-item-icon">
                        <div class="personal-habbit-item-title">跋山涉水｜与自然为友</div>
                    </div>
                    <div class="person-habbit-content-desc">翻山越岭，徒步过河，探索大自然中的美好风光。</div>
                </div>
                <div class="personal-habbit-content-container">
                    <div class="person-habbit-content-main">
                        <img src="/icon/food.svg" class="personal-habbit-item-icon">
                        <div class="personal-habbit-item-title">饕餮大嘴｜品四方美食</div>
                    </div>
                    <div class="person-habbit-content-desc">翻山越岭，徒步过河，探索大自然中的美好风光。</div>
                </div>
                <div class="personal-habbit-content-container">
                    <div class="person-habbit-content-main">
                        <img src="/icon/clip.svg" class="personal-habbit-item-icon">
                        <div class="personal-habbit-item-title">数字生活｜享科技发展</div>
                    </div>
                    <div class="person-habbit-content-desc">翻山越岭，徒步过河，探索大自然中的美好风光。</div>
                </div>
                <div class="personal-habbit-content-container">
                    <div class="person-habbit-content-main">
                        <img src="/icon/mountain.svg" class="personal-habbit-item-icon">
                        <div class="personal-habbit-item-title">雕梁画栋｜闯三维世界</div>
                    </div>
                    <div class="person-habbit-content-desc">翻山越岭，徒步过河，探索大自然中的美好风光。</div>
                </div>
            </div>
            <img src="/img/landscape.jpg" alt="" class="personal-habbit-content-img">
        </div>
    </div>
</section>
{{ end }}