<footer>
  <div class="footer-container width-limited">
    {{/*  <img class="footer-logo" src="{{ site.Params.logo | relURL }}" alt="{{ site.Title }}">  */}}
    <div class="footer-content-container">
      <ul class="footer-social-container">
        {{ range site.Params.social }}
        <li class="footer-social-item">
          <a href="{{ .link | safeURL }}">
            <span>{{ .name }}</span>
            <img src="/icon/leftright-arrow.svg" alt="leftRighArrow" class="leftright-arrow">
          </a>
        </li>
        {{ end }}
        <li class="footer-social-item wechat-popover-container">
          <a href="#">
            <span>Wechat</span>
            <img src="/icon/leftright-arrow.svg" alt="leftRighArrow" class="leftright-arrow">
            <div class="wechat-popover">
              <img src="/img/qrcode.png" class="wechat-qrcode">
            </div>
          </a>
        </li>
      </ul>
      <button class="footer-totop-container">
        <img src="/icon/up.svg" alt="up" class="footer-totop">
      </button>
    </div>
    <div class="copyright">
      {{ site.Params.copyright | safeHTML }}
    </div>
  </div>
</footer>